In [5]:
import pandas as pd

df = pd.read_excel('https://github.com/datagy/pivot_table_pandas/raw/master/sample_pivot.xlsx', parse_dates=['Date']) 
print(df.head())

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

In [7]:
sales_by_region = pd.pivot_table(df, index = 'Region', values = 'Sales') 
print(sales_by_region)

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

In [8]:
total_by_region = pd.pivot_table(df, index = 'Region', values = 'Sales', aggfunc='sum') 
print(total_by_region)

         Sales
Region
East    167763
North   138700
South    59315
West     61476

In [9]:
sales_by_region.reset_index()

  Region       Sales
0   East  408.182482
1  North  438.924051
2  South  432.956204
3   West  452.029412

In [11]:
avg_region_price = pd.pivot_table(df, index = 'Region', values = 'Sales')
print(avg_region_price)

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

In [12]:
avg_region_price[avg_region_price['Sales'] > 450]

             Sales
Region
West    452.029412

In [13]:
avg_region_price[(avg_region_price['Sales'] > 450) | (avg_region_price['Sales'] < 430)]

             Sales
Region
East    408.182482
West    452.029412

In [15]:
multi_index = pd.pivot_table(df, index = ['Region', 'Type'], values = 'Sales', aggfunc = 'sum') 
print(multi_index)

                            Sales
Region Type
East   Children's Clothing  45849
       Men's Clothing       51685
       Women's Clothing     70229
North  Children's Clothing  37306
       Men's Clothing       39975
       Women's Clothing     61419
South  Children's Clothing  18570
       Men's Clothing       18542
       Women's Clothing     22203
West   Children's Clothing  20182
       Men's Clothing       19077
       Women's Clothing     22217

In [16]:
multi_functions = pd.pivot_table(df, index = ['Region', 'Type'], values = 'Sales', aggfunc = ['sum', len]) 
print(multi_functions)

                              sum   len
                            Sales Sales
Region Type
East   Children's Clothing  45849   113
       Men's Clothing       51685   122
       Women's Clothing     70229   176
North  Children's Clothing  37306    85
       Men's Clothing       39975    89
       Women's Clothing     61419   142
South  Children's Clothing  18570    45
       Men's Clothing       18542    39
       Women's Clothing     22203    53
West   Children's Clothing  20182    42
       Men's Clothing       19077    41
       Women's Clothing     22217    53